# Ignore Maven's target directory
/target/

# Ignore IntelliJ IDEA project files
/.idea/
/*.iml

# Ignore Eclipse project files
/.project
/.classpath
/.settings/

# Ignore build tools output
/.gradle/
/build/

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp
