<div class="container">
    <form hx-post="/products/create" hx-swap="innerHTML" th:object="${productDto}">
        <div class="row">
            <div class="col-25">
                <label for="name">Product Name:</label>
            </div>
            <div class="col-75">
                <input type="text" th:feild="*{name}">
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}">
            </div>
        </div>
        <div class="row">
            <div class="col-25"></div>
            <label for="brand">Brand:</label>
            <div class="col-75"></div>
            <input type="text" th:feild="*{brand}">
            <p th:if="${#fields.hasErrors('brand')}" th:errorclass="text-danger" th:errors="*{brand}">
        </div>
        <div class="row">
            <div class="col-25"></div>
            <label for="category">Category:</label>
            <div class="col-75"></div>
            <select class="form-select" th:field="*{category}">
                <option value="printer">Printer</option>
                <option value="laptop">Laptop</option>
                <option value="laptop-parts">Laptop-parts</option>
                <option value="pc">PC</option>
                <option value="pc-parts">PC-parts</option>
                <option value="accessories">Accessories</option>
            </select>
        </div>
        <div class="row">
            <div class="col-25"></div>
            <label for="price">Price:</label>
            <div class="col-75"></div>
            <input type="text" th:feild="*{price}">
            <p th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="*{price}">
        </div>
        <div class="row">
            <div class="col-25">
                <label for="imageFile">image File:</label>
            </div>
            <div class="col-75">
                <input type="file" th:feild="*{imageFile}">
                <p th:if="${#fields.hasErrors('imageFile')}" th:errorclass="text-danger" th:errors="*{imageFile}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="description">Description:</label>
            </div>
            <div class="col-75">
                <input type="text" th:feild="*{description}">
                <p th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger" th:errors="*{description}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <button class="btn btn-primary" type="submit">Submit</button> 
            </div>
            <div class="col-75">
                <a class="btn btn-secondary" href="/products">Cancel</a>
            </div>            
        </div>
    </form>
</div>